body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* Header Style */
header{
    text-align: center;
    background-color: #eaffa8;
}
header h1{
    margin: 0;
    padding: 4px 0;
}
header p{
    margin: 0;
    padding: 8px;
}

/* Error */
#errorCat{
    color: red;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-weight: 700;
}

/* Random-cats Style */
.random-cats, .favorite-cats, .uploadingCat{
    display: grid;
    place-content: center;
    background-color: #e2e2e2;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.random-cats h2, .favorite-cats h2{
    margin-left: auto;
    margin-right: auto;
}
.container-cats, .container-favorite-cats{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.container-img{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-img img{
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}
.reload-cat{
    margin-left: auto;
    margin-right: auto;
}

/* favorites-cats Style */
.favorites-cats{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formCat{
    display: flex;
    flex-direction: column;
}

#formCat input, button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


/* Button Style */
.secondary-button{
    width: 200px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 8px;
    background-color: #eaffa8;
    border: none;
    border-radius: 12px;
    font-weight: 600;
}
.secondary-button:hover{
    border: solid 1px white;
}

/* Media  */
@media (max-width: 1000px){
    .container-img img{
        width: 200px;
        height: 200px;
    }
    .container-cats, .container-favorite-cats{
        grid-template-columns: repeat(auto-fill, 200px);
        align-content: center;
    }
    .container-img{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}